<<<<<<< HEAD
<h1><%= t('.title') %></h1>
<%= render 'form', user: @user %>
=======
<h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
>>>>>>> 525814296584dd49da78dc598afcf50ee392fa23
